[package]
name = "exmex"
version = "0.6.1"  # check html document root in lib.rs and the Readme.md
authors = ["Behrang Shafei <https://github.com/bertiqwerty>"]
edition = "2018"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/exmex"
description = "fast extendable mathematical expression evaluator"
repository = "https://github.com/bertiqwerty/exmex/"
homepage = "https://github.com/bertiqwerty/exmex/"
readme = "README.md"
keywords = ["math", "parser", "expression", "eval", "formula"]
categories = ["parser-implementations", "science"]
include = ["**/*.rs", "Cargo.toml"]

[dependencies]
regex = "1"
num = "0.4"
itertools = "0.10.1"
smallvec = "1.6.1"
lazy_static = "1.4.0"

[dev-dependencies]
criterion = "0.3.4"
meval = "0.2.0"
evalexpr = "6.3.0"
fasteval = "0.2.4"
rsc = "2.0.0"

[[bench]]
name = "benchmark"
harness = false
